---
title: Block label
stylesheet: '/assets/styles/app'
isolation_styles: >
  body { margin: 5px 10px }
  .scope-options-list { max-width: 960px }
---

= model 'a'
  erb:
    <label class="block-label" for="categories-0">
      <input id="categories-0" name="categories" type="radio" value="clinneg">
      Clinical negligence
      <div class="field-help">
        Doctors and nurses not treating you with due care during medical treatment
      </div>
    </label>
